<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users"> 
<<<<<<< HEAD
    <% @users.each do |user| %>
	    <%= render user %>
	  <% end %>
=======
    <%= render @users %>  
>>>>>>> user-microposts
</ul>

<%= will_paginate %>